# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
hausarbeit/tex/.texpadtmp/main.aux
hausarbeit/tex/.texpadtmp/main.lof
hausarbeit/tex/.texpadtmp/main.log
hausarbeit/tex/.texpadtmp/main.lol
hausarbeit/tex/.texpadtmp/main.synctex.gz
hausarbeit/tex/.texpadtmp/main.toc
hausarbeit/tex/.texpadtmp/main.url
