# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


# grammar and output files
test.tab.c
test.tab.h
lex.yy.c
parser
optimCSS
hausarbeit/app/merged.css
hausarbeit/messdaten/www/merged.css
hausarbeit/app/grammar/css.tab.c
hausarbeit/app/grammar/css.tab.h
