#yolo:active  {
	border: 0;
}

d-asd  {
	color: #332199;
	border: 1px;
}

d  {
	color: #fff;
	margin: 0;
	peter: pan;
	dieter: wurst;
}

.b  {
	color: #fff;
	margin: 0;
	hansi: wurst;
	yolo: swag;
	peter: pan;
	dieter: wurst;
}

a  {
	color: #332199;
	border: 1px;
	hansi: wurst;
	yolo: swag;
	peter: pan;
	dieter: wurst;
}

